// Cairo Font Faces
@font-face {
  font-family: 'Cairo';
  src: url('../../../../assets/fonts/Cairo/Cairo-VariableFont_slnt,wght.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
